.landing-page .main-hero {
  background: none;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page .main-hero img {
  margin-top: 60px;
}

.hero-title {
  color: #a33a18;
  font-size: 48px;
  text-align: center;
  font-family: Actor, sans-serif;
}

.landing-page .main-hero .button {
  margin: 40px 0 100px 0;
  font-size: 20px;
}

.landing-page .main-heading {
  margin: 4% 0 2% 15%;
  font-size: 48px;
  font-family: Actor, sans-serif;
}

.landing-page .about-section {
  background: #ec6033;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.landing-page .about-section .content {
  color: #fff;
  width: 45%;
  font-size: 24px;
}

.landing-page .about-section .image-ctr {
  background: #fff;
  width: 45%;
  max-width: 450px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-page .sub-heading {
  margin: 4% 0 0.5% 15%;
  font-size: 48px;
  font-family: Actor, sans-serif;
}

.landing-page .subtitle {
  margin: 0 0 2% 15%;
  font-size: 24px;
}

.landing-page .benefits {
  background: #6bb48c;
  width: 100%;
  margin: 0 auto;
  padding: 75px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.landing-page .benefits section {
  background: #fff;
  height: 355px;
  width: 265px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-right: 5%;
}
.landing-page .benefits section p {
  text-align: center;
}

.heart {
  width: 171px;
}

.brain,
.productivity {
  width: 160px;
  margin-bottom: 15px;
}

.man {
  height: 200px;
  align-self: flex-end;
  margin: 20px 0 0 0;
}

.woman {
  height: 177px;
  align-self: flex-start;
  margin: 0 0 0 20px;
}

@media screen and (max-width: 500px) {
  .landing-page .main-hero {
    min-width: auto;
  }

  .hero-title {
    font-size: 28px;
  }

  .landing-page .main-hero img {
    margin-top: 0px;
    width: 100%;
  }

  .landing-page .main-heading {
    font-size: 28px;
    text-align: start;
    margin: 10px 20px;
  }
  .landing-page .about-section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    border-radius: 0;
    padding: 50px 20px;
  }

  .landing-page .about-section .content {
    width: 100%;
    font-size: 18px;
  }
  .landing-page .about-section .image-ctr {
    width: 100%;
    margin: 0 0 30px 0;
    flex-direction: row-reverse;
  }

  .landing-page .sub-heading {
    font-size: 38px;
    margin: 20px 0 5px 20px;
  }

  .landing-page .subtitle {
    font-size: 16px;
    margin: 0 0 20px 20px;
  }

  .landing-page .benefits {
    flex-direction: column;
    align-items: center;
  }

  .landing-page .benefits section {
    margin: 4% 0;
  }

  .man {
    height: 125px;
    align-self: flex-start;
    margin: 10px 0 20px 0;
  }

  .woman {
    height: 100px;
    align-self: flex-end;
    margin: 0 0 0 20px;
  }
}
