.container {
  min-width: 100%;
  padding: 0 !important;
}

.login,
.signup {
  border: 2px solid #ec6033;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 2px 3px 5px #000;
  margin: 25px 10px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 140px;
  height: 63px;
  max-width: 100%;
  background: #656565;
  border-radius: 5px;
}

.timer-container label {
  margin-bottom: 0;
  margin-right: 10px;
}

.current-timer {
  text-align: center;
  font-family: monospace;
  font-size: 4.1rem;
  margin: auto;
  line-height: 3.3;
  width: 15.125rem;
  height: 14.125rem;
  border: 2px solid #ec6033;
  border-radius: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.timer-controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
